  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item"><a class="nav-link" href="/ocd">GSOF</a></li>
        <li class="nav-item"><a class="nav-link" href="/glbq">GQF</a></li>
        <li class="nav-item"><a class="nav-link" href="/jdiquote">JDI Quote</a></li>
        <li class="nav-item"><a class="nav-link" href="/jdiorder">JDI GSOF</a></li>
        <li class="nav-item"><a class="nav-link" href="/crm">CRM</a></li>
        <li class="nav-item"><a class="nav-link" href="/newcrm">New CRM</a></li>
        <li class="nav-item"><a class="nav-link" href="/istoremmi">Istore MMI</a></li>
        <li class="nav-item"><a class="nav-link" href="/istorermt">Istore RMT</a></li>
        <li class="nav-item"><a class="nav-link" href="/rmtra">RMT RA</a></li>
        <li class="nav-item"><a class="nav-link" href="/traxprod">TRAX Prod</a></li>
        <li class="nav-item"><a class="nav-link" href="/wccocm">WCC OCM</a></li>
        <li class="nav-item"><a class="nav-link" href="/wccedocs">WCC EDOCS</a></li>
        <li class="nav-item"><a class="nav-link" href="/wccedocsdb">WCC EDOCSDB</a></li>
        <li class="nav-item"><a class="nav-link" href="/wccedocsextranet">WCC EDOCSEXTRANET</a></li>
        <li class="nav-item"><a class="nav-link" href="/wccocmmmidocs">WCC MMIDOCS</a></li>
      </ul>
  </div>
  </nav>
