<% include partials/header %>
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Compuware Dashboard</h1>
      <p class="lead">This is the dashboard developed by Load Test Team to monitor the Compuware Scripts</p>
    </div>
  </div>
  <a class="btn btn-primary btn-lg btn-block" id="prod" href="/prodhome/">Production</a>
  <a class="btn btn-primary btn-lg btn-block" id="S12" href="/S12home/">S12</a>
  <a class="btn btn-primary btn-lg btn-block" id="N12" href="/N12home/">N12</a>
  <a class="btn btn-primary btn-lg btn-block" id="N1" href="/n1home/">Sanity</a>
<% include partials/footer %>
