<% include partials/header %>
<% include partials/navN12 %>
<div class="card" style="width: 20rem; margin:0 auto;">
  <img class="card-img-top" src="/main.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Please go the menu to display the data for a script.
    </p>
  </div>
</div>
<% include partials/footer %>
